.greenheader {
	text-align: center;
	font-style: italic;
	text-transform: uppercase;
	color: rgb(100, 170, 100);
	text-shadow: -2px 2px 7px rgb(50, 30, 30);
	font-family: "reklame-script",sans-serif;
	letter-spacing: 7px;
}

.subtitle {
	text-align: center;
	text-transform: lowercase;
	color: rgba(25, 25, 25, 0.1);
}

nav {
	text-align: center;
}

nav li {
	display: inline-block;
}

nav li a {
	margin: 30px;
	text-decoration: none;
}

nav li a:active {
	color: rgb(200, 150, 150);
}

nav li a:visited {
	color: rgb(100, 100, 100);
}

nav li a:link {
	color: rgb(180, 100, 100);
}

#solicit {
	position: fixed;
	top: 50%;
	left: 50%;
	margin-top: -183px;
	margin-left: -264px;
}