.greenbkgd {
	background-image: url("/media/algae1.jpg") no-repeat center center fixed cover;
	background-color: black;
	
}

a:link {
	text-decoration: none;
}

a .greenheader {
	text-align: center;
	font-style: italic;
	font-size: 3em;
	text-transform: uppercase;
	text-decoration: none;
	color: rgb(50, 100, 50);
	text-shadow: 0 0 15px rgb(255, 10, 10);
	font-family: "reklame-script",sans-serif;
	letter-spacing: 7px;
	margin-top: 3%;
	margin-bottom: -1%;
}

.subtitle {
	text-align: center;
	font-size: 0.9em;
	text-transform: lowercase;
	color: rgb(250, 250, 250);
	text-shadow: 0 0 3px rgb(30,0,0);
}

nav {
	text-align: center;
	background-color: rgba(200, 200, 200, 0.7);
	padding: 3px 0px 3px 0px;
	font-style: bold;
	font-family: arial;
	text-shadow: 0 0 3px rgb(80, 10, 10);
	max-width: 50%;
	margin-left: auto;
	margin-right: auto;
}

nav li {
	display: inline;
}

nav li a {
	margin: 30px;
	text-decoration: none;
	color: rgb(10, 80, 12);
}

/*
nav li a:active {
	color: rgb(10, 17, 12);
}

nav li a:visited {
	color: rgb(80, 100, 80);
}

nav li a:link {
	color: rgb(100, 155, 100);
}*/

/*nav span {
	text-decoration: line-through;
	color: rgba(190, 255, 190, 0.4);
}*/

#solicit {
	display: block;
	max-width: 40%;
	margin: auto;
}

figcaption {
	text-align: center;
	color: rgba(80, 80, 80, 0.2);
}

#emailme {
	display: inline;
	text-align: center;
	color: white;
	text-shadow: 0 0 3px rgb(10,80,10);
	font-family: arial;
	font-size: 1.2em;
	margin-bottom: 50px;
}

#emailme submit {
	margin-bottom: 50px;
}

#fbicon {
	position: fixed;
	bottom: 3%;
	right: 5%;
	margin-right: -24px;
}

#fblike {
	position: fixed;
	bottom: 3%;
	left: 5%;
}

/*#imgcaption {
	position: relative;
	text-align: center;
	color: rgb(80, 80, 80);
	margin-top: 30%;
}*/