.greenbkgd {
	background-image: url("/media/algae1.jpg");
	background-size: 100%;
}

.greenheader {
	text-align: center;
	font-style: italic;
	text-transform: uppercase;
	color: rgb(100, 170, 100);
	text-shadow: -2px 2px 20px rgb(50, 15, 15);
	font-family: "reklame-script",sans-serif;
	letter-spacing: 7px;
}

.subtitle {
	text-align: center;
	text-transform: lowercase;
	color: rgba(25, 25, 25, 0.1);
}

nav {
	text-align: center;
	background-color: rgba(70, 70, 70, 0.7);
	padding: 3px 5px 3px 5px;
	font-style: bold;
}

nav li {
	display: inline;
}

nav li a {
	margin: 30px;
	text-decoration: none;

}

nav li a:active {
	color: rgb(200, 255, 150);
}

nav li a:visited {
	color: rgb(190, 255, 190);
}

nav li a:link {
	color: rgb(200, 255, 200);
}

nav span {
	text-decoration: line-through;
	color: rgba(190, 255, 190, 0.4);
}

#solicit {
	display: block;
	max-width: 40%;
	margin: auto;
}

figcaption {
	text-align: center;
	color: rgba(80, 80, 80, 0.2);
}

/*#imgcaption {
	position: relative;
	text-align: center;
	color: rgb(80, 80, 80);
	margin-top: 30%;
}*/